.review-item{
    width: 571px;
    height: 107px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
   margin-bottom: 25px;
   display: flex;
   align-items: center;
   font-family: 'Lato', 
  
}

.review-item img{
    width: 91px;
    height: 91px;  
    border-radius: 6px;
   
   padding: 8px;
}
.review-item h2{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin: 5px 0 0 0;
    padding: 2px;
}

.review-item p {
margin: 0px 15px;
padding: 2px;
}
.review-details span{
color: #FF9900;
}

.review-details{
    flex-grow: 1;
}
.review-item button{
    height: 55px;
    width: 55px;
    border: 0px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#EB5757 ;
    margin: 5px;
}
.review-item button icon{

}